html, body {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls{
  height:80px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.drag{
  -webkit-app-region: drag
}

.no-drag{
  -webkit-app-region: no-drag
}

.img-responsive {
  margin: 0 auto;
}

.focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.padding-top {
  padding-top: 80px;
}

.fa-search-plus:hover, .fa-search-minus:hover, .fa-search:hover, .fa-download:hover, .fa-times:hover, .rn-carousel-control, .fa-print:hover, .fa-volume-up:hover {
  color: white !important;
}

.nav.navbar-nav.navbar-right {
  margin-right: 16px;
}

.navbar-nav>li>a {
  padding-top: 8px !important;
}

.copyright {
  margin-top: 24px;
  color: #555;
}