.controls{
  position:fixed;
  height:60px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.drag{
  -webkit-app-region: drag
}

.no-drag{
  -webkit-app-region: no-drag
}

.img-responsive {
  margin: 0 auto;
}

.focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.padding-top {
  padding-top: 60px;
}

.indicators {
  background-color: rgba(0, 0, 0, 0.6);
  height:20px;
}