<nav class="sponsors navbar navbar-fixed-bottom "
    ng-class="{'padding-menu' : vlCtrl.Menu.showMenu}">

    <div align="center">
        <table cellpadding="{{windowWidth*0.015}}" border="0">
            <tr>
                <td width="53" align="center" valign="middle">
                    &nbsp;
                </td>

                <td width="102" align="center" valign="middle">
                    <b>Patrocínio:</b>
                </td>

                <td width="72" align="center" valign="middle">
                    <b>Realização:</b>
                </td>

                <td width="72" align="center" valign="middle">
                    <b>Parceria:</b>
                </td>

                <td width="100" align="center" valign="middle">
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td align="center" valign="middle">
                    <img src="assets/images/lic-logo.png" alt="Lei de Incentico à Cultura" height="{{(windowHeight * 0.08) > 55 ? 55 : (windowHeight * 0.08)}}" border="0" />
                </td>

                <td align="center" valign="middle">
                    <img src="assets/images/petrobras-logo.png" alt="Petrobras" height="{{(windowHeight * 0.08) > 55 ? 55 : (windowHeight * 0.08)}}" border="0" />
                </td>

                <td align="center" valign="middle">
                    <img src="assets/images/paqtcpb-logo.png" alt="Parque Tecnológico" height="{{(windowHeight * 0.08) > 55 ? 55 : (windowHeight * 0.08)}}" border="0" />
                </td>

                <td align="center" valign="middle">
                    <img src="assets/images/ufcg-logo.png" alt="UFCG" height="{{(windowHeight * 0.08) > 55 ? 55 : (windowHeight * 0.08)}}" border="0" />
                </td>

                <td align="center" valign="middle">
                    <img src="assets/images/mc-logo.png" alt="Ministério da Cutura" height="{{(windowHeight * 0.08) > 55 ? 55 : (windowHeight * 0.08)}}" border="0" />
                </td>
            </tr>

        </table>
    </div>
</nav>
