<div ph-resizable class="container-fluid" data-snap-ignore="true">
    <div class="row">

        <div class="animate drawer drawer-open drawer-container col-xs-1 col-md-2 col-sm-3" ng-show="data.showMenu">
            <navbar></navbar>
        </div>

        <div ng-class="{'col-xs-offset-1 col-md-offset-2 col-sm-offset-3' : data.showMenu}" >

            <h1 class="animate-fadeInOut text-center" style="margin-top: {{(windowHeight / 3) - 50}}px;">Catalogo!</h1>

            <nav class="navbar navbar-default navbar-fixed-bottom copyright">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a>
                            <i class="btn fa fa-2x fa-bars" ng-click="data.toggleMenu();"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>