<div ph-resizable class="container-fluid" data-snap-ignore="true">
  <div class="row">

    <h1 class="animate-fadeInOut text-center" style="margin-top: {{(windowHeight / 3) - 50}}px;">HELP!</h1>

    <nav class="navbar navbar-default navbar-fixed-bottom copyright">
      <p class="text-center copyright margintop">© Copyright 2014-2015. Etnos - Universidade Federal de Campina Grande</p>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom copyright">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a>
            <i class="btn fa fa-2x fa-bars" snap-toggle="left"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>