<div class="drawer-container" ng-controller="MenuCtrl">
  <ul role="navigation" class="drawer-list">
    <li ng-class="menuClass('home')" class="drawer-list-item">
      <a href="#" data-pjax="">
        <i class="fa fa-home"></i>Home
      </a>
    </li>
    <li class="drawer-list-divider"></li>
    <li class="drawer-list-item drawer-list-title">
      Conheça
    </li>
    <li ng-class="menuClass('home/professores')" class="drawer-list-item">
      <a href="#home/professores">
        <i class="fa fa-linkedin"></i>Professores
      </a>
    </li>
    <li ng-class="menuClass('home/alunos')" class="drawer-list-item">
      <a href="#home/alunos">
        <i class="fa fa-twitter"></i>Alunos
      </a>
    </li>
    <li ng-class="menuClass('home/developers')" class="drawer-list-item">
      <a href="#home/developers">
        <i class="fa fa-github"></i>Desenvolvedores
      </a>
    </li>
  </ul>
</div>