<navbar></navbar>

<div class="container-fluid padding-top">
  <div class="row">

    <div class="col-md-12">
      <!--Body content-->
      <div ng-show='query.id' ng-repeat="verbete in verbetes | filter:query" class="col-sm-3 col-md-2 animate-fadeInOut">
        <div class="thumbnail" style="-webkit-app-region: no-drag">
          <div class="caption">
            <span class="text-center"><h4>{{verbete.snippet}}</h4></span>
          </div>
          <a href="#/verbete/{{verbete.id}}"><img ng-src="{{verbete.path.slice(3) + '/icon.png'}}" style="max-height: 150px;"></a>
        </div>
      </div>

      <h2 ng-hide='query.id' class="animate-fadeInOut text-center">Faça uma pesquisa!</h2>

      <nav class="navbar navbar-default navbar-fixed-bottom controls transparent">
        <p class="text-center copyright">© Copyright 2014-2015. Projeto História - Universidade Federal de Campina Grande</p>
      </nav>
    </div>
  </div>
</div>