<div ph-resizable class="focus" style="height: {{windowHeight}}px;">

  <div ng-show="verbeteDetail.converted" class="animate-fadeInOut">
    <ul rn-carousel rn-carousel-indicator rn-carousel-slides rn-carousel-control class="no-drag">
      <li ng-repeat="image in verbeteDetail.converted" >
        <img ng-src="{{image}}" class="img-responsive no-drag" style="max-height: {{windowHeight - 80}}px; padding-bottom: 8px; padding-top: 8px;">
      </li>
    </ul>
  </div>

  <div ng-hide="verbeteDetail.converted" style="height: {{windowHeight - 80}}px;">
      <i class="fa fa-spinner fa-inverse fa-4x fa-spin no-drag" style="position: absolute; left: {{(windowWidth / 2) - 25}}px; top: {{(windowHeight / 2) - 25}}px;"></i>
  </div>

  <div class="controls">
    <a class="pull-left" href="#">
      <i class="fa fa-times fa-2x fa-inverse no-drag"></i>
    </a>
  </div>

</div>