<div class="animated drawer drawer-open drawer-container col-xs-1 col-md-2 col-sm-3"
    ng-show="vlCtrl.Menu.showMenu"
    ng-class="{slideInLeft: vlCtrl.Menu.animationIn, slideOutLeft: vlCtrl.Menu.animationOut}">

    <div>
        <ul role="navigation" class="drawer-list">

            <li class="drawer-list-item"
                ng-repeat="option in menuCtrl.menuOptions.slice(0, 1)"
                ng-class="menuCtrl.isActive(option.link)">

                <a ng-click="menuCtrl.changeLocation(option.link)">
                    <i class="fa {{option.icon}}" ng-class="menuCtrl.isActive(option.link)"></i>{{option.name}}
                </a>
            </li>

            <li class="drawer-list-divider"></li>
            <li class="drawer-list-item drawer-list-title">
                Conheça
            </li>

            <li class="drawer-list-item"
                ng-repeat="option in menuCtrl.menuOptions.slice(1)"
                ng-class="menuCtrl.isActive(option.link)">

                <a ng-click="menuCtrl.changeLocation(option.link)">
                    <i class="fa {{option.icon}}" ng-class="menuCtrl.isActive(option.link)"></i>{{option.name}}
                </a>
            </li>

        </ul>
    </div>
</div>
