.text-etnos {
    transition: padding-left 1s ease;
    -webkit-user-select: initial;
    padding-left: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    color: #000;
    line-height: 1.5;
}
.text-etnos h1 {
    line-height: 3 !important;
}

.text-infos-container {
    padding-left: 75px;
    padding-right: 20px;
}

.padding-infos {
    padding-left: 20px;
}
