<infos>
    <h1 class="text-center">HELP</h1>

    <p>Lorem ipsum Adipisicing Duis aute occaecat in amet minim Ut fugiat culpa et quis nulla et Duis non id do incididunt esse officia consequat proident est dolor ullamco cupidatat.</p>
    <p>Lorem ipsum Minim proident sed esse labore cupidatat aliqua reprehenderit voluptate elit in dolore officia Excepteur dolore exercitation in minim id deserunt id commodo mollit consequat ea do Duis voluptate eu sed Ut sit dolor culpa minim enim pariatur.</p>
</infos>
